<div class="container-fluid">
    <div class="row">
        <div class="col-md-3" style="background-color: #303030; height:91.5vh">
            <div>
                <mat-card class="m-3">
                    <form [formGroup] = "todoForm"> 
                        <mat-form-field appearance="outline">
                            <mat-label>Write Your To Do </mat-label>
                            <input formControlName="item" matInput>
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                            <mat-hint>Add Task Name</mat-hint>
                        </mat-form-field>
                        <div class="btns-container mt-3">
                            <button mat-raised-button *ngIf="!isEditEnable" (click)="addTask()" color="primary" [disabled]="todoForm.invalid">Add</button>
                            <button mat-raised-button *ngIf="isEditEnable" (click)="updateTask()">Update</button>
                        </div>
                    </form>
                </mat-card>
            </div>
        </div>
        <div class="col-md-9 mt-3">
            <div cdkDropListGroup>
                <div class="row">
                    <div class="col-md-4">
                        <!-- to do -->
                        <div class="example-container">
                            <h2>TO DO {{tasks.length <=0 ? "" : - tasks.length}}</h2>
                            <div
                              cdkDropList
                              [cdkDropListData]="tasks"
                              class="example-list"
                              (cdkDropListDropped)="drop($event)">
                              <div class="example-box" *ngFor="let item of tasks; let i=index;" cdkDrag>{{item.description}}
                                <div class="box">
                                    <button mat-icon-button color="warn" (click)="deleteTask(i)"><mat-icon>delete</mat-icon></button>
                                    <button mat-icon-button color="primary" (click)="onEdit(item, i)"><mat-icon>edit</mat-icon></button>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!-- in progress -->
                        <div class="example-container">
                            <h2>IN PROGRESS {{inprogress.length <=0 ? "" : - inprogress.length}}</h2>
                            <div
                              cdkDropList
                              [cdkDropListData]="inprogress"
                              class="example-list"
                              (cdkDropListDropped)="drop($event)">
                              <div class="example-box" *ngFor="let item of inprogress; let i=index;" cdkDrag>{{item.description}}
                                <div class="box">
                                    <button mat-icon-button color="warn" (click)="deleteInProgressTask(i)"><mat-icon>delete</mat-icon></button>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!-- done -->
                        <div class="example-container">
                            <h2>DONE {{done.length <=0 ? "" : - done.length}}</h2>
                            <div
                              cdkDropList
                              [cdkDropListData]="done"
                              class="example-list"
                              (cdkDropListDropped)="drop($event)">
                              <div class="example-box" *ngFor="let item of done; let i=index" cdkDrag>{{item.description}}
                                <div class="box">
                                    <button mat-icon-button color="warn" (click)="deleteDoneTask(i)"><mat-icon>delete</mat-icon></button>
                                    <button mat-icon-button color="primary"><mat-icon>check_circle</mat-icon></button>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>